#data{

    margin: auto;

}

/*HOME*/

main #home{
    margin: auto;
}

#home{
    h1{
        line-height: 1.1em;
    }
}

/*PROGRAMMING*/

#programming {
    justify-self: center;
    width: 60%;
}

main #programming {
    margin: auto;
}

#programming li{
    background-color: rgb(87, 46, 46);
    margin: 3%;
    border-radius: 5% / 100%;
    padding: 1%;
}

#programming ul{
    list-style-type: none;
    width: 80%;
    justify-self: center;
    margin: auto;
}

/*PROJECTSREACTANDBOT*/

#projectsGrid {
    display: flex;
    padding: 2% 10%;
    span {
        border-radius: 5%;
        /*border: 1px solid rgb(226,173,226);*/
        background-color: #123112;
        width: 35%;
        margin: 20px;
        padding: 10px;
    }
    img{
        border-radius: 10%;
    }
}
#taskManager > img {
    margin-top: 50px;
    width: 200px;
}
#teleBot > h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
#teleBot > img{
    margin-top: 50px;
    width: 200px;
}
#movieSearcher > img {
    margin-top: 50px;
    width: 250px;

}

#ProjectsReactAndBot{
    margin-bottom: 100px;
}

a:visited {
    color: rgb(46, 131, 46);
}

a{
    color: rgb(67, 192, 67);
}

/*PROJECTSCPLUSPLUS*/

#ProjectsCPlusPlus{
    ul{
        padding: 0%;
        margin: auto;
        list-style-type: none;
        width: 87%;
        justify-self: center;
        display: flex;
        flex-direction: column;
    }
    h2{
        margin-bottom: 5%;
    }
    li{
        margin: 0px 0px 3% 0px;
    }
    p{
        background-color: rgb(46, 13, 46);
        padding: 2%;
        width: fit-content;
    }
    a:visited{
        color: rgb(122, 33, 122);
    }
    a{
        color: rgb(170, 46, 170);
    }
}


#Minesweeper {
    display: flex;
    flex-direction: row;
    text-align: left;
    p {
        width: 23%;
        margin: auto 5% auto 0%;
        border-radius: 5% / 10%;
    }
    img {
        border-radius: 10%;
    }
}

#Stairs {
    align-self: flex-end;
    width: 65%;
    display: flex;
    flex-direction: row;
    text-align: end;
    justify-content: flex-end;
    p {
        width: 25%;
        margin: auto 0% auto 5%;
        border-radius: 10%;
    }
    img {
        border-radius: 10%;
    }
}

#Graphics {
    display: flex;
    flex-direction: row;
    text-align: left;
    p {
        width: 23%;
        margin: auto 5% auto 0%;
        border-radius: 5% / 10%;
    }
    img {
        border-radius: 10%;
    }
}

/*LANGUAGES*/

#Languages{
    width: 80%;
    p{
        text-align: left;
        margin-bottom: 2%;
    }
}

#languageStory{
    background-color: rgb(32, 32, 19);
    margin: 2% 0%;
    padding: 3%;
    border-radius: 5% / 20%;
}

#languageList{
    justify-self: center;
    text-align: left;
    padding: auto;
    width: fit-content;
    margin: auto;
    background-color: rgb(32, 32, 19);
    padding: 1%;
    border-radius: 5% / 10%;
}

/*MUSIC*/

#Music {
    width: 75%;
    p {
        width: 70%;
        background-color: rgb(35, 46, 46);
        padding: 2%;
        margin: 1% auto;
    }
    h2{
        margin-left: 15%;
        margin-bottom: 3%;
        font-size: 2rem;
    }
    a{
        color: rgb(102, 133, 133);
    }
    a:visited{
        color: rgb(74, 95, 95);
    }
}

#musicStory{
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img{
        grid-column-start: 3;
        grid-column-end: 4;
        border-radius: 10%;
    }
}

#music1{
    grid-column-start: 1;
    grid-column-end: 4;
    width: 50%;
    margin: auto;
    p{
        margin: auto;
        padding: 5% 5%;
        border-radius: 5% / 20%;
        justify-self: center;
    }
}

#music2 {
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5% / 20%;
}

#musicAudios {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    p{
        background-color: transparent;
        width: 100%;
    }
    
}

#music3 {
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 7% / 13%;
}

/*WORKPHILOSOPHYANDETHICS*/

#WorkPhilosophyAndEthics{
    width: 75%;
}

.wpaeCard{
    margin: 2%;
    background-color: rgb(7, 7, 15);
    padding: 2%;
    border-radius: 5% / 40%;
}

/*LEARNINGRIGTHNOW*/

#LearningRightNow{
    width: 75%;
    p{
        background-color: rgb(22, 16, 16);
        padding: 2%;
        margin: 2%;
    }
}

#learningContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    img{
        margin-top: 2%;
        border-radius: 10%;
    }
}

#learningIntro{
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    margin: auto;
    p{
        width: 55%;
        justify-self: center;
        margin: 2% auto;

        border-radius: 5% / 30%;
    }
}

#learningLocution{
    margin: auto;
    p{
        border-radius: 5% / 10%;
    }
    audio{
        margin: 10%;
    }
}

#learningHistory{
    margin: auto;
    p{
        border-radius: 10%;
    }
}

#learningMagic{
    margin: auto;
    p{
        border-radius: 5% / 15%;
    }
    img{
        width: 50%;
    }
}

/*FUTUREGOALS*/

#FutureGoals{
    width: 75%;
    p{
        width: 40%;
        justify-self: center;
        background-color: rgb(31, 21, 21);
        padding: 2%;
        border-radius: 5% / 15%;
        margin:  2% auto;
    }
}

/*CONTACT*/

#contact{
    ul{
        list-style-type: none;
        padding: 0%;
    }
    li{
        text-align: left;
        margin: 2% auto;
        background-color: rgb(31, 19, 19);
        padding: 2%;
        border-radius: 5% / 50%;
        width: fit-content;
        justify-self: center;
    }
    a:visited{
        color:  rgb(94, 60, 60);
    }
    a{
        color: rgb(131, 84, 84);
    }
    a:hover{
        cursor: pointer;
    }
}

/*QUOTES*/

#quotes{
    width: 94%;
    justify-self: center;
    margin: auto;
}

#quotesIntro{
    width: 45%;
    margin: auto;
    justify-self: center;
    margin-bottom: 2%;
    background-color: rgb(25, 39, 25);
    padding: 1%;
    border-radius: 5% / 30%;
}

#quotesGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2%;
}

.quoteCard{
    width: 100%;
    background-color: rgb(25, 39, 25);
    border: 5px solid #eaeeea;
    border-radius: 10%;
    margin: 2%;
    padding: 2%;
}

#MM{
    grid-column-start: 2;
}

#BS{
    grid-column-start: 4;
}

#Mm{

}

#WP{
    grid-column-start: 3;
}

#RG{
    grid-column-start: 2;
    grid-row-start: 3;
}

#MC{
    grid-column-start: 4;
    grid-row-start: 3;
}

#SK{
    grid-column-start: 4;
    grid-row-start: 3;
}

#EW{
    grid-column-start: 4;
    grid-row-start: 3;
    width: 100%;
    height: auto;
}



/*BOOKSANDENTERTAINMENT*/

#booksAndEntertainment{
    width: 75%;
    justify-self: center;
    margin: auto;
}

#entertainmentIntro{
    width: 80%;
    justify-self: center;
    margin: 2% auto;
    img{
        border-radius: 10%;
        margin: 0% auto;
    }
}

#entertainmentIntro p:first-child{
    background-color: rgb(1, 1, 88);
    padding: 2%;
    margin: 2% auto;
    border-radius: 5% / 10%;
    text-align: left;
}

#entertainmentBooks{
    margin: auto;
    width: 75%;
    justify-self: center;
    display: flex;
}

#entertainmentBooks p:first-child{
    width: 75%;
    background-color: rgb(1, 1, 88);
    padding: 2%;
    margin: 2% auto;
    border-radius: 5% / 10%;
    text-align: left;
}

#bookList{
    width: 50%;
    justify-self: center;
    text-align: left;
    background-color: rgb(1, 1, 88);
    padding: 2%;
    margin: 2%;
    border-radius: 5% / 10%;
    sub{
        font-size: 0.7em;
    }
    ul{
        margin-top: 10%;
    }
}

#entertainmentMusic p:first-child{
    background-color: rgb(1, 1, 88);
    padding: 2%;
    margin: 2% auto;
    border-radius: 5% / 10%;
    text-align: justify;
    width: 80%;
    justify-self: center;
}

#entertainmentMusic{
    
    padding-bottom: 0%;
    margin-bottom: 0%;
    border-bottom: 0%;
    iframe{
    }
}

code {
    background-color: black;
}

section{
    width: 100%;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}

main{
    /*background-color: aquamarine;*/
    padding-left: 6%;
    width: 100vw;
}

@media (max-width: 1690px) {
    main{
        padding-left: 0;
        width: 100%;
    }

    /*HOME*/

    #home{
        width: 70%;
        justify-self: center;
        p{
            margin: 2%;
        }
    }

    /*PROGRAMMING*/
    #programming{
        width: 90%;
        ul{
            width: 90%;
            padding: 0%;
        }
    }

    /*PROJECTSREACTANDBOT*/

    #projectsGrid{
        flex-direction: column;
        align-items: center;
        span {
            width: 40%;
            border-radius: 4%;
        }
        padding: 0%;

        img {
            width: 50%;
        }
    }
    #taskManager > img {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #movieSearcher > img {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #teleBot > img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /*PROJECTSCPLUSPLUS*/

    #Minesweeper{
        img{
            width: 30%;
            height: 30%;
            margin: auto;
        }
        p{
            width: 35%;
        }
    }

    #Stairs{
        img{
            width: 30%;
            height: 30%;
            margin: auto;
        }
        p{
            width: 50%;
        }
    }

    #Graphics{
        img{
            width: 30%;
            height: 30%;
            margin: auto;
        }
        p{
            width: 35%;
        }
    }

    /*MUSIC*/

    #musicAudios {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #music3{
        width: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    
    /*LEARNINGRIGHTNOW*/

    #LearningRightNow{
        width: fit-content;
    }

    #learningContainer{
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        img{
            margin-top: 2%;
            border-radius: 10%;
        }
    }

    #learningIntro{
        p{
            width: 55%;
            justify-self: center;
            border-radius: 5% / 30%;
        }
    }

    #learningLocution{
        width: 50%;
        justify-self: center;
        p{
            border-radius: 5% / 10%;
        }
        audio{
            margin: 2%;
        }
    }

    #learningHistory{
        width: 70%;
        justify-self: center;
        p{
            border-radius: 10%;
        }
        img{
            width: 40%;
        }
    }
    #learningMagic{
        width: 40%;
        justify-self: center;
        p{
            border-radius: 5% / 15%;
        }
        img{
            display: none;
        }
    }

    /*FUTUREGOALS*/

    #FutureGoals{
        p{
            width: 70%;
        }
    }

    /*QUOTES*/

    .quoteCard{
        blockquote{
            margin-top: auto;
        }
    }

    /*BOOKSANDENTERTAINMENT*/

    #booksAndEntertainment{
        width: 100%;
        justify-self: center;
    }
}

@media (max-width: 950px) {

    /*PROGRAMMING*/
    #programming{
        width: 100%;
        ul{
            width: 90%;
            padding: 0%;
        }
    }
    

    /*QUOTES*/

    #Mm{
        grid-column-start: 4;
    }

    #RG{
        grid-column-start: 1;
    }

    #SK{
        grid-column-start: 3;
    }

    /*BOOKSANDENTERTAINMENT*/
    #booksAndEntertainment{
        width: 100%;
        justify-self: center;
    }
    #entertainmentBooks{
        justify-self: center;
        display: flex;
    }

}

@media (max-width: 750px){
    
    /*PROGRAMMING*/
    #programming{
        width: 100%;
        ul{
            width: 90%;
            padding: 0%;
        }
    }

    /*PROJECTSREACTANDBOT*/

    #ProjectsReactAndBot{
        span{
            width: 80%;
        }
    }

    #teleBot{
        width: 100%;
        p{
            width: 100%;
        }
        img{
            width: 70%;
        }
    }

    #movieSearcher{
        width: 100%;
        p{
            width: 100%;
        }
        img{
            width: 70%;
        }
    }

    /*PROJECTSCPLUSPLUS*/

    #Minesweeper{
        p{
            width: 100%;
            padding: 2%;
        }
    }
    #Stairs{
        width: 100%;
        p{
            width: 100%;
            padding: 2%;
        }
    }

    #Graphics{
        p{
            width: 100%;
            padding: 2%;
        }
    }

    /*LANGUAGES*/

    #Languages{
        width: 90%;
    }

    #languageStory {
        border-radius: 5% / 5%;
    }

    #languageList{
        padding: 3%;
    }

    /*MUSIC*/

    #Music{
        width: 95%;
        h2{
            margin: 5% 10%;
        }
    }

    #music1{
        p{
            border-radius: 5% / 10%;
        }
    }
    #musicStory{
        display: flow;
        width: 100%;
    }

    img{
        width: 50%;
        margin-top: 2%;
    }

    #musicAudios{
        justify-content: center;
        justify-self: center;
        align-items: center;
        width: 90%;
        audio{
            width: 50%;
        }
    }

    #music3{
        margin-top: 2%;
        width: 100%;
    }

    /*WORKPHILOSOPHYANDETHICS*/

    #WorkPhilosophyAndEthics{
        width: 95%;
    }

    .wpaeCard{
        border-radius: 10%;
        p{
            padding: 2%;
        }
    }

    /*LEARNINGRIGTHNOW*/

    #learningIntro{
        p{
            width: 80%;
        }
    }

    #learningLocution{
        width: 90%;
        p{
        }
    }

    #learningHistory{
        width: 90%;
    }

    #learningMagic{
        width: 80%;
    }

    /*FUTUREGOALS*/

    #FutureGoals{
        width: 90%;
        p{
            width: 90%;
        }
    }

    /*QUOTES*/

    #quotesIntro{
        width: 90%;
    }

    #quotesGrid{
        display: flex;
        flex-direction: column;
    }

    #MM{
        align-self: flex-start;
    }
    #Mm{
        align-self: flex-end;
    }
    #RG{
        align-self: flex-start;
    }
    #SK{
        align-self: flex-end;
    }

    .quoteCard{
        width: 50%;
        blockquote{
            text-align: left;
            margin-bottom: 2%;
        }
    }

    /*BOOKSANDENTERTAINMENT*/

    #entertainmentBooks{
        flex-direction: column;
        align-items: center;
    }

    #entertainmentBooks p:first-child{
        width: 90%;
    }

    #bookList{
        width: 100%;
    }

}

@media (max-width: 750px){

    #quotesGrid{
        font-size: 0.7em;
    }

}

