#data{

    margin: auto;

}

section{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
}

main{
    /*background-color: aquamarine;*/
    padding-left: 6%;
    width: 100vw;
}

@media (max-width: 1200px) {
    main{
        padding-left: 0;
    }
}