.label{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.key {
    position: absolute;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.isActive {
    transform: scale(1.2);
    span {
        opacity: 1;
    }
}



.key:active {
  transform: scale(1.2); 
  span {
    opacity: 1;
  }
}

@media (hover: hover) {

    .key:hover {
        transform: scale(1.2);
        span {
            opacity: 1;
        }
}
}