#piano{

    display: flex;
    flex-direction: column;
    margin: auto 0;
    position: relative;
}

@media (max-width: 1690px) {
    #piano{
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
    }

    #piano:active{
        opacity: 1;
    }
}