aside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;

}

#muteButton{
  margin: 0 0 26vh 0;
  background-color: transparent;
  border: none;
}

#mobileMenuButton{
  display: none;
  background-color: transparent;
  border: none;
  opacity: 0.8;
}

@media (max-width: 1690px) {
  #mobileMenuButton{
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
}