aside{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: fixed;

}

button#muteButton{
  background-color: transparent;
  border: none;
}

#muteButton{
  margin: 0 0 26vh 0;
}